* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body {
    font-family: 'Poppins';font-size: 13px;
}
.main-header {
  flex: 1;
  box-shadow: 0 0.4rem  rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  flex-direction: row;
  font-weight: bold;
  
}

.main-nav {
  flex-direction: row;
}

.main-nav__item {
  display: inline-block;
  margin-right: 15px;
}

.main-header___options {
 
}

.main-header___option {
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:2rem
}

.container img {
        border-radius:1rem
}

.content {
    text-align: center;
    margin-top:2rem
}
.content__img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
   
}


.product-list{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    margin-top: 2rem;
}
.content__img-container img{
    width:20%;
    margin-right: 2rem;
}

.content__img-container1 img{
  width:50%;
  margin-right: 2rem;
}
.content__img-container1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:   5px 5px 5px 5px  #ccc;;
  width:20%;
}
.img-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product-list{
    text-align: center;
    margin-top:2rem
}
.content__img-container{
  background-color: white;
  height: 200px;
}
.btn{
  background-color: #42B29A;
  width:50%;
  border-radius:0.5rem;
  height:40px;
  color:white;
  font-size: 15px;
  
}